<div class = "row">
  <div class = "col-md-12">
    <button  ui-sref = "home" class = "btn btn-success">Home</button>
    <button  ui-sref = "students" class = "btn btn-success">Students</button>
  </div>
</div>


<h3 ng-show="students.length">Sign In</h3>
  <ul>
    <li ng-repeat="item in students">
      {{ item.name }}
      <button class ="btn btn-success" ng-click="item.signedIn=true" ng-show ="!item.signedIn">Sign In</button>
      <button class ="btn btn-success" ng-click="item.signedIn=false" ng-show ="item.signedIn">Sign Out</button>
    </li>
  </ul>
</div>
