<div class = "row">
  <div class = "col-md-12">
    <button  ui-sref = "home" class = "btn btn-success">Home</button>
    <button  ui-sref = "students" class = "btn btn-success">Students</button>
  </div>
</div>

<div class = "row">
  <div class = "col-md-6">
    <h2>You are Here</h2>
    <ul>
      <div ng-repeat = "item in students | filter:{signedIn: true}">
        <li>{{ item.name }}</li>
      </div>
      
    </ul>
    <h2>Not in Class</h2>
    <ul>
      <div ng-repeat = "item in students | filter:{signedIn: false}">
        <li>{{ item.name }}</li>
      </div>
    </ul>
  </div>

</div>
